body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f2f4fa;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #1f1f2e;
    height: 100vh;
    color: white;
    padding: 20px;
    position: fixed;
}

.logo {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    margin: 10px 0;
    background: #2c2c3c;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover {
    background: #3a3a51;
}

/* MAIN */
.main {
    margin-left: 270px;
    padding: 30px;
    width: 100%;
}

#title {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
}

/* Dashboard Box */
.welcome-box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}
